@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "reset";
@import "fonts";
@import "base";

html,
body,
* {
  @apply font-poppins leading-tighter;
}

body {
  @apply bg-surface-600 md:bg-[url('/images/background.png')] bg-[url('/images/background-mobile.png')]  bg-cover md:bg-contain bg-center md:bg-top bg-no-repeat;
}
